{% extends '::base.html.twig' %}

{% block body -%}
    <h1>testevents list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>No. of attendees</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td style="text-align: center"><a href="{{ path('testevents_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td style="text-align: center">{{ entity.name }}</td>
                <td style="text-align: center">{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td style="text-align: center">
                    {{ entity.attendees | length }}
                </td>
                <td style="text-align: center">
                <ul>
                    <li>
                        <a href="{{ path('testevents_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('testevents_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    {% if entity.hasAttendee(app.user) %}
                        <li>
                            <a href="{{ path('testevents_unattend', { 'id': entity.id }) }}">unattend</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('testevents_attend', { 'id': entity.id }) }}">attend</a>
                        </li>
                    {% endif %}


                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('testevents_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
