{% extends '::base.html.twig' %}
{% block body %}
<div class="row justify-content-md-center">
    <div class="col-6">
    <form action="{{ path('login_check') }}" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1" class="bmd-label-floating">Username</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" name="_username" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="bmd-label-floating">Password</label>
            <input type="password" class="form-control"  name="_password" required>
        </div>
        <button type="submit" class="btn btn-raised btn-primary">login</button>
        <a  class="btn btn-primary" href="/register" >Or Signup</a>
    </form>
    {% if error %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ error.message|trans }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}