{% extends '::base.html.twig' %}
{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-2">
            <form action="{{ path('register') }}" method="post" novalidate="novalidate">
              <!--  <div class="form-group">
                    <label for="exampleInputEmail1" class="bmd-label-floating">Username</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" name="_username" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="bmd-label-floating">Email</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" name="_email" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1" class="bmd-label-floating">Password</label>
                    <input type="password" class="form-control"  name="_password" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="bmd-label-floating">Confirm Password</label>
                    <input type="password" class="form-control"  name="_password" required>
                </div>-->
                {{ form_errors(form) }}
                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password.first,{
                    "label":"password"
                }) }}
                {{ form_row(form.password.second,{
                    "label":"confirm password"
                }) }}
                {{ form_rest(form) }}
                <br>
                <button type="submit" class="btn btn-raised btn-primary">Register</button>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}