{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Details edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-primary active" role="button" aria-pressed="true" href="{{ path('details') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
