{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Details list</h1>

    <table class="records_list">
        <thead class="table table-borderless">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td scope="row"><a href="{{ path('details_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.time | date('g:ia l M j, Y')}}</td>
                <td>
                    <a class="btn btn-primary active" role="button" aria-pressed="true" href="{{ path('details_show', { 'id': entity.id }) }}">show</a>
                    <a class="btn btn-primary active" role="button" aria-pressed="true" href="{{ path('details_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a class="btn btn-primary active" role="button" aria-pressed="true" href="{{ path('details_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
