{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Details creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a  class="btn btn-primary active" role="button" aria-pressed="true" href="{{ path('details') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
