{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Details</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ entity.time | date('g:ia l M j, Y')}}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="btn btn-primary active" role="button" aria-pressed="true" href="{{ path('details') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a class="btn btn-primary active" role="button" aria-pressed="true" href="{{ path('details_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
